phidata
python-dotenv
yfinance
packaging
ddgs
fastapi
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
youtube-transcript-api
streamlit
google-generativeai
langchain
pathlib
jupyter
huggingface_hub
flask
markdown2

- e.
